* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-size: $default-font-size;
  font-style: $default-font-style;
  color: $default-font-color;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
  margin-top: calc(150px / .77);
  zoom: .77;

  @media screen and (min-width: $lg-breakpoint) {
    margin-top: calc(130px / .77);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $default-font-color;
}

#wrapper {
  display: flex;
  flex-direction: column;
  max-width: $max-page-width;
  min-height: calc((100vh - 150px) / .77);
  margin: 0 auto;
  box-shadow: $default-box-shadow;

  @media screen and (min-width: $lg-breakpoint) {
    min-height: calc((100vh - 130px) / .77);
  }
}

.app-main-container {
  flex: 1 0 auto;
}
