.payment-canceled {
  width: 90%;
  min-height: 200px;
  margin: 40px auto;
  padding: 35px 0;
  text-align: center;

  @media screen and (min-width: $lg-breakpoint) {
    width: 65%;
  }

  &__header {
    padding: 0 0 20px;
    font-size: 40px;
    color: $gray;
  }

  &__description {
    width: 75%;
    margin: 0 auto 25px;
    font-size: $default-font-size;
    line-height: 1.4;
  }

  &__button {
    width: 260px;
    margin: 0 auto;
  }
}
